body {
  margin: 0;
  padding: 0 ;
  font-family:Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
#root{
  margin: 0;
  padding: 0 ;
}
.active{
  height: 25px;
  border-left: 4px solid #EE0C28;
  background: linear-gradient(to left, rgba(255, 147, 21, 0.5) 0%, rgba(238, 12, 40, 0.5) 100%);
  -webkit-background-clip: text;
  color: transparent;
}